.container
  .sidebar
    div(
      style="background-image: linear-gradient(235deg, #97abff 10%, #5f5987 100%)"
    )
      h1 VR WORLDs
      p awesome. love. creative.
    div(
      style="background-image: linear-gradient(135deg, #3b2667 10%, #bc78ec 100%)"
    )
      h1 Magic Trees
      p awesome. love. creative.
    div(
      style="background: linear-gradient(221.87deg, #c247b2 1%, #00a3dd 100%)"
    )
      h1 Cyber Unicorns
      p awesome. love. creative.
    div(
      style="background-image: linear-gradient(235deg, #52e5e7 10%, #130cb7 100%)"
    )
      h1 It&apos;s a FUTURE
      p awesome. love. creative.
  .main-slide
    div(
      style="\
                                  background-image: url('https://images.unsplash.com/photo-1580428180098-24b353d7e9d9?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzMzUwODg5MA&ixlib=rb-1.2.1&q=85');\
                                  "
    )
    div(
      style="\
                                  background-image: url('https://images.unsplash.com/photo-1534823983341-d4e6e4aa046c?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzMzUxMTc4Nw&ixlib=rb-1.2.1&q=85');"
    )
    div(
      style="background-image: url('https://images.unsplash.com/photo-1516496636080-14fb876e029d?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzMzUxMjgzOA&ixlib=rb-1.2.1&q=85')"
    )
    div(
      style="\
                                  background-image: url('https://images.unsplash.com/photo-1593508512255-86ab42a8e620?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzMzUxMzc3OA&ixlib=rb-1.2.1&q=85');"
    )
  .controls
    button.down-button
      i.fas.fa-arrow-down
    button.up-button
      i.fas.fa-arrow-up
